numpy
psutil
keyboard
openvr
python-osc
pyaudio
SpeechRecognition
Pillow
waitress
flask
kthread
pyperclip
pydub
dataclasses-json
sentencepiece
autocorrect
requests
websockets
zeroconf==0.131.0
safetensors==0.4.1
transformers==4.36.2
ctranslate2==3.24.0
torch==2.1.2
faster-whisper==0.10.0