numpy
psutil
keyboard
openvr
python-osc
pyaudio
SpeechRecognition
Pillow
waitress
flask
kthread
pydub
ctranslate2
transformers
dataclasses-json
torch
--extra-index-url https://download.pytorch.org/whl/cu118
faster-whisper