numpy
psutil
keyboard
openvr
python-osc
pyaudio
SpeechRecognition
Pillow
waitress
flask
kthread
pyperclip
pydub
dataclasses-json
sentencepiece
autocorrect
zeroconf
requests
safetensors==0.3.2
transformers==4.32.0
ctranslate2==3.19.0
torch==2.0.1
faster-whisper==0.7.1