numpy
psutil
keyboard
openvr
python-osc
pyaudio
SpeechRecognition
Pillow
waitress
flask
kthread
pyperclip
pydub
dataclasses-json
sentencepiece
autocorrect
zeroconf
requests
safetensors==0.4.0
transformers==4.34.1
ctranslate2==3.21.0
torch==2.1.0
--extra-index-url https://download.pytorch.org/whl/cu118
faster-whisper==0.9.0