numpy
psutil
keyboard
openvr
python-osc
pyaudio
SpeechRecognition
Pillow
waitress
flask
kthread
pyperclip
pydub
dataclasses-json
sentencepiece
autocorrect
requests
zeroconf==0.123.0
safetensors==0.4.0
transformers==4.35.1
ctranslate2==3.21.0
torch==2.1.0
faster-whisper==0.9.0