numpy==1.11.1
psutil==5.9.5
keyboard==0.13.5
openvr==1.23.701
python-osc==1.8.1
pyaudio==0.2.13
SpeechRecognition==3.10.0
Pillow==9.5.0
waitress==2.1.2
flask==2.3.2
kthread==0.2.3
pydub==0.25.1
ctranslate2==3.13.0
transformers==4.28.1
dataclasses-json==0.5.7
sentencepiece==0.1.99
autocorrect==2.6.1
torch==2.0.0
--extra-index-url https://download.pytorch.org/whl/cu118
faster-whisper==0.5.1